[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
  transform-origin: center;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}
[data-theme="dark"] .nav-link {
  color: #ffffff !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}


[data-theme="dark"] #vmap1 {
  background-color: #000 !important;
}
[data-theme="dark"] .modal-content {
  background-color: #000 !important;
}
[data-theme="dark"] .logoo {
  background:url("covid_19_white.png") no-repeat !important;
}
[data-theme="dark"] .dataTables_paginate , .paginate_button {
  color: white;
}
[data-theme="dark"] .paginate_button .current {
  color: white;
  background: red;
}
[data-theme="dark"] .paginate_button  {
  color: white !important;
  background: #6a6766;
}
[data-theme="dark"] .dataTables_length, [data-theme="dark"] dataTables_filter {
  color: white !important;

}


[data-theme="dark"]  table.dataTable tbody tr , [data-theme="dark"]  table.dataTable thead th {
  background-color: #000 !important;
  color: white;
}

