body,html{
    font-family: 'Ubuntu Condensed', sans-serif !important;
    scroll-behavior: smooth;

}
[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
  }
  
  [data-theme="dark"] .bg-light {
    background-color: #333 !important;
  }
  
  [data-theme="dark"] .bg-white {
    background-color: #000 !important;
  }
  
  [data-theme="dark"] .bg-black {
    background-color: #eee !important;
  }
  
body{
    background-color: #f2f2f2;
}
.dark{
    transition: all 0.3s;
    color: white !important;
    background-image: none !important;
    background-color: black !important;
    text-shadow: none !important;
    box-shadow: none;
}
.popover-header{

    margin-bottom: 0;

    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    padding: 3px 5px !important;
    font-size: 10px !important;
}
.hover_list{
    padding-left: 21px;
}

table.dataTable tbody tr {
    /*background-color: #343A40 !important;*/
    color:black;
}
.full {
    width: 100%;
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #000000;
    height: auto;
    padding-bottom: 19px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 0px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer h4 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    line-height: 38px;
    padding: 40px 0 10px;
    font-family: cursive;
    font-weight: lighter
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0px;
    color: #ffffff;
    padding: 0 0 8px 0;
}
#markin{
    margin-top: 45px;
}

.email{
    border-bottom: 3px solid #fff;
}
.footer ul li a {
    padding: 0 0 12px 0;
    display: block;
}
.footer a {
    color: white;
    font-weight: lighter;
}

.footer p {
    color: white;
    font-weight: lighter;
    font-size:20px
}

.footer a:hover {
    text-decoration:none;
    font-weight: bold;
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}


.footer a {
    color: #ffffff
}

.footer-bottom {
    margin-top: 2em;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
    font-size: 0.75em
}
