<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>

    <link href="../static/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>
    <style>
        body,html{
            font-family: 'Ubuntu Condensed', sans-serif !important;
        }
        .popover-header{

            margin-bottom: 0;

            background-color: #f7f7f7;
            border-bottom: 1px solid #ebebeb;
            border-top-left-radius: calc(.3rem - 1px);
            border-top-right-radius: calc(.3rem - 1px);
            padding: 3px 5px !important;
            font-size: 10px !important;
        }
        .hover_list{
            padding-left: 21px;
        }

        table.dataTable tbody tr {
             background-color: #343A40 !important;
        }
    </style>


</head>
<body>
    <div class="col-sm-12 w-100">
        <div class="row">
            <div class="col-sm-12 col-md-10">
                <div id="vmap1" style="width: 100%; height: 100vh;"></div>
            </div>
            <div class="col-sm-12 col-md-2">
                <div class="row h-100 " >
                    <div class="col-sm-6 col-md-12">
                        <h3>World News On Covid-19</h3>
                        <ol id="side_map_data" style="padding-left: 0;">

                        </ol>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <h3>Covid-19 Stats</h3>
                        <canvas style="width: 100%; height: 100%;" id="side_map_chart"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 w-100">
        <div class="row">
            <div class="container">
                <table id="myTable" class="table table-dark w-100 table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Country</th>
                            <th scope="col">NewConfirmed</th>
                            <th scope="col">TotalConfirmed</th>
                            <th scope="col">NewDeaths</th>
                            <th scope="col">TotalDeaths</th>
                            <th scope="col">NewRecovered</th>
                            <th scope="col">TotalRecovered</th>
                            <th scope="col">Date Updated</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">


                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="    padding: 5px 4px !important;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="row" id="body_modal" style="">

                    </div>
                </div>

            </div>
        </div>
    </div>

<!--    <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>-->










    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/jquery.vmap.js"></script>
    <script type="text/javascript" src="../static/jquery.vmap.world.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/jquery.vmap.sampledata.js"></script>
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>

    <script>

    </script>

</body>
</html>